<% @categories.each do |category| %>
  <a href="/product_page?category_id=<%= category.id %>">
    <div class="card text-bg-dark">
      <%= image_tag (category.image), class: "card-img", alt: "...",  style: 'height: 500px;' %>
      <div class="card-img-overlay">
        <h5 class="card-title"><%= category&.name %></h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text"><small>Last updated 3 mins ago</small></p>
      </div>
    </div>
  </a><br>
<% end %>
